<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>My Receipts</h1>
        <table>
          <thead>
            <tr>
              <th>Vendor</th>
              <th>Total</th>
              <th>Tax</th>
              <th>Date</th>
              <th>Category</th>
              <th>Account</th>
            </tr>
          </thead>
          <tbody>
            {% for x in receipts_list_view %}
            <tr>
              <td>{{ x.vendor }}</td>
              <td>{{ x.total }}</td>
              <td>{{ x.tax }}</td>
              <td>{{ x.date | date:"m-d-YY" }}</td>
              <td>{{ x.category }}</td>
              <td>{{ x.account }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </main>
</body>
</html>